


<%
for(var i = 0;i<data.length;i++)
{
%>
<div class="baby-video-div" list="<%=i%>">
    <div class="baby-video-preview">
        <img src="images/img-video-preview.jpg" style="width:100%">
    </div>
    <div class="baby-video-brief">
        <p><%=data[i].title%></p>
    </div>
</div>
<%
}
%>